@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* 버튼 색상 */
}
 
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px; /* 버튼 크기 */
}
 
.swiper-button-disabled {
  opacity: 0.35; /* 비활성 버튼 투명도 */
  cursor: auto;
  pointer-events: none;
}